<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="blogs content">
        <h2>about me about us.....</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat fugiat quia animi repudiandae dolore molestiae tempore officiis. Voluptate natus eligendi ab maiores aut libero nulla sequi! Repellendus fugit a voluptatum.
        Maxime, temporibus nisi sapiente fugit doloremque in maiores illo facilis, similique quos quis eius facere ipsa odio? Similique veritatis suscipit hic molestiae provident modi at, laboriosam incidunt aut explicabo quod.
        Tempora, officia? Cumque incidunt blanditiis dolorem, illo labore pariatur ipsam rerum qui repudiandae tenetur vero ipsum minima tempora neque. Aspernatur quos omnis asperiores odit pariatur, ipsa id adipisci modi dolorum!
        Natus veniam aliquam temporibus vero harum exercitationem deserunt delectus, enim vel omnis. Dolore cumque repudiandae ipsum, sequi, autem amet accusamus, deserunt adipisci quidem dicta asperiores cupiditate? A aut hic enim.
        Ut debitis rerum in nisi hic quos suscipit voluptatem explicabo modi laborum cum fugit impedit aperiam, minima delectus. Minima rem vel explicabo dignissimos et excepturi dolore libero atque eligendi nesciunt?</p>
    </div>
    <%- include("./partials/footer.ejs") %>

</body>

</html>